<div class="main__header">
    <h1 class="main__title">{{ title }}</h1>
    <ul class="tags">
        {% for tag in tags %}
            <li class="tags__item">
                <a id="breakfast"
                    class="tags__checkbox tags__checkbox_style_{{ tag.color}}
                    {% if tag.id in request_tag %}
                        tags__checkbox_active
                    {% else %}
                       tags__checkbox
                    {% endif %}"
                    {% if request_tag is None %}
                        href="{% url 'index' %}?page={{ page.number }}&tag_{{ forloop.counter }}={{ tag.id }}"></a>
                    {% else %}
href="{% url 'index' %}?page={{ page.number }}{% for tag_add in request_tag %}{% if tag.id != tag_add %}&tag_{{ forloop.counter }}={{ tag_add }}{% endif %}{% endfor %}{% if tag.id not in request_tag %}&tag_{{ forloop.counter }}={{ tag.id }}{% endif %}"></a>
                {% endif %}
                <span class="tags__label">{{ tag.title }}</span>
            </li>
        {% endfor %}
    </ul>
</div>