{% extends "include/base.html" %}
{% block title %} Восстановление пароля {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/pages/form.css' %}">
{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Ошибка 500</h1>
    </div>
    <div class="form-container">
        <p class="form__info-text">Ошибка на сервере, попробуйте обновить страницу или обратиться позже</p>
    </div>
    <div class="form-container">
            <p class="form__info-text"><a href="{% url  'index' %}">Вернуться на главную</a></p>
    </div>
{% endblock %}
