{% extends "base.html" %}
{% block title %} Восстановление пароля {% endblock %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Ссылка на восстановление пароля отправлена</h1>
    </div>
    <div class="form-container">
            <p class="form__info-text">
                Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.
            </p>
    </div>
{% endblock %}
