{% extends "base.html" %}
{% block title %} Рецепты {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block nav %}
    {% include 'nav.html' with index=True %}
{% endblock %}
{% block content %}
    {% include 'tags.html' with tags=tags request_tag=request_tag title="Рецепты" %}
    <div class="card-list">
        {% for recipe in page %}
            {% include 'recipe_card.html' with recipe=recipe %}
        {% endfor %}
    </div>
        {% include 'paginator.html' with items=page paginator=paginator request_tag=request_tag %}
{% endblock %}
{% block JS %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/indexAuth.js' %}"></script>
{% endblock %}